<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Express Website</title>
</head>
    <body>
        <h1>{{pageTitle}}</h1>
        <p>Adnan Mujagic!</p>
    </body>

    {{> footer}}
</html>