<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Express Website</title>
</head>
    <body>
        <h1>Adnan Mujagic!</h1>
    </body>

    {{> footer}}
</html>