<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Express Website</title>
</head>
    <body>
        <h1>Project name: {{projectName}}</h1>
        <p>Date: {{projectDate}}</p>
    </body>

    {{> footer}}
</html>